a {
  cursor: pointer;
}

.container {
  margin-bottom: 60px;
  position: relative;
}

.btn-light,
.btn-light:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}
.room {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  background-color: rgb(233, 229, 229);
}

.shelf-box {
  height: 105px;
  width: 105px;
  background-color: white;
  position: relative;
}

.circle {
  background-color: gray;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  position: absolute;
  left: -5%;
  top: -5%;
}

.shelf {
  height: 105px;
  width: 10%;
  border-bottom: 5px solid brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: move;
}

.books {
  display: flex;
  align-items: flex-end;
  gap: 2px;
}

.hidden {
  display: none;
}

#user-name,
#account-icon {
  float: right;
}

.books-row {
  justify-content: flex-start;
  gap: 15px;
  /* max-width: 1000px; */
  margin: auto;
}

.delete-shelf,
.delete-book {
  position: absolute;
  top: -12px;
  right: -12px;
  padding: 0.05rem 0.45rem;
  display: none;
  animation: tilt-shaking 0.3s infinite;
}

#edit-room,
#edit-books {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

#start-search {
  display: inline-block;
  margin: 0 0 22px 15px;
}

.button-search {
  border: none;
  background: transparent;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: auto;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.form-row {
  margin-bottom: 1rem;
}

#add-book-form,
#advanced-search-form,
#pagination {
  display: none;
}

#add-book-form form {
  max-width: 600px;
  margin: auto;
}
#search-results {
  max-width: 941px;
}

.card {
  width: 14rem;
  font-size: 80% !important;
  max-height: 365px;
}

#search-results h5 {
  font-size: 1rem;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 1000px;
  }

  #addBookFromApi .modal-content {
    min-height: 924px;
  }
}

.search-title {
  display: flex;
  align-items: flex-end;
}

#advanced-search {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(118, 118, 118);
}
.card-img-top {
  object-fit: contain;
  height: 14rem;
}

.advanced-search-inputs {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#book-img {
  height: 300px;
  margin: auto;
}

#bookDetails .modal-body {
  padding: 5%;
}

#book-description {
  padding-top: 5%;
  width: 100%;
  margin: auto;
}

#back-to-search {
  position: absolute;
}
