a {
  cursor: pointer;
}

body > .container {
  margin-bottom: 60px;
}
.container {
  position: relative;
}

.btn-light,
.btn-light:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

.rooms {
  width: 100%;
  height: calc(100vh - 228px);
  background-color: rgb(243, 243, 243);
  align-items: flex-end;
  background-image: url("../img/room.jpg");
  background-size: auto 100%;
  position: relative;
}

.room {
  height: 100%;
  transform-origin: top left;
}

.room-overlay {
  background-color: rgba(92, 92, 92, 0.4);
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
}

.dotted {
  background-image: url("../img/dots.png");
  background-size: 20px 20px;
}
.shelf {
  height: 105px;
  min-width: 10%;
  border-bottom: 5px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 15% 15% 0 0;
}

.books {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  margin: 2px 2px 3px;
  height: 100%;
  width: 100%;
}

.handle {
  cursor: move;
}

.books-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(151, 151, 151, 0.3);
  border-radius: 15% 15% 0 0;
}

.book {
  width: 15px;
  height: 100px;
  background-position: center;
  background-size: auto 100%;
  border-radius: 7.5px 7.5px 0 0;
  cursor: pointer;
}
.hidden {
  display: none;
}

#rooms-nav .nav-item {
  position: relative;
}
#user-name,
#account-icon {
  float: right;
}

.books-row {
  justify-content: flex-start;
  gap: 15px;
  margin: auto;
}

.delete-shelf,
.delete-book,
.delete-room {
  position: absolute;
  top: -12px;
  right: -12px;
  padding: 0.05rem 0.45rem;
  display: none;
  animation: tilt-shaking 0.3s infinite;
  border: none;
  background-color: white;
  color: #c0c0c1;
  border-radius: 50%;
  z-index: 1;
}

#edit-room,
#edit-books {
  position: absolute;
  right: 2rem;
  top: 1rem;
  cursor: pointer;
}

#start-search {
  display: inline-block;
  margin: 0 0 22px 15px;
}

.button-search {
  border: none;
  background: transparent;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: auto;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.form-row {
  margin-bottom: 1rem;
}

#add-book-form,
#advanced-search-form,
#pagination,
#filter,
.add-shelf,
.add-room {
  display: none;
}

#open-filter {
  cursor: pointer;
  position: absolute;
  right: 25px;
  display: flex;
  gap: 10px;
}

#clear {
  cursor: pointer;
  color: rgb(118, 118, 118);
  text-decoration: underline;
  display: none;
}
#add-book-form form {
  max-width: 600px;
  margin: auto;
}
#search-results {
  max-width: 941px;
}

.card {
  width: 14rem;
  font-size: 80% !important;
  max-height: 365px;
}

#search-results h5 {
  font-size: 1rem;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 1000px;
  }

  #addBookFromApi .modal-content {
    min-height: 924px;
  }
}

.search-title {
  display: flex;
  align-items: flex-end;
}

#advanced-search {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(118, 118, 118);
  font-size: 0.75rem;
  margin-top: -5px;
  margin-bottom: 0;
}
.card-img-top {
  object-fit: contain;
  height: 14rem;
}

.advanced-search-inputs {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.rooms .modal-header {
  background-color: rgba(229, 229, 229, 0.7);
  position: absolute;
  width: 100%;
  z-index: 1;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#book-img {
  height: 300px;
  margin: auto;
}

#bookDetails .modal-body {
  padding: 5%;
}

#book-description {
  padding-top: 5%;
  width: 100%;
  margin: auto;
}

#back-to-search {
  position: absolute;
}

.scale {
  position: absolute;
  left: 25px;
  bottom: 25px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.add-shelf {
  position: absolute;
  left: 15px;
  top: 15px;
}

.show {
  display: block;
}

.rating {
  color: orange;
  padding-bottom: 0.5rem;
}

.highlight {
  transform: scale(1.2);
  background-image: none !important;
  background-color: greenyellow;
}
