@model Library.ViewModels.BackgroundViewModel
<div class="modal fade" id="addBackground" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change Background</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      @using (Html.BeginForm("AddBackground", "Rooms", FormMethod.Post, new{enctype="multipart/form-data"}))
      {
        <div class="modal-body d-flex justify-content-between align-items-start">
          @Html.HiddenFor(model => model.RoomId)
          <img id="imagepreview" src="~/img/background/@(ViewBag.image)" alt="your image"/> 
          <label class="btn btn-outline-secondary" class="form-control">
            Upload
            @Html.TextBoxFor(model => model.Background, new { type = "file", accept="image/*"})
            @Html.ValidationMessageFor(m => m.Background) 
          </label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-secondary">Submit</button>
        </div>
      }
    </div>
  </div>
</div>