<div class="modal fade" id="addRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Room</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @using (Html.BeginForm("Create", "Rooms", FormMethod.Post))
        {
          <div class="form-group">
            @Html.TextBox("Name", "", new {required = "required", placeholder="Name", @class="form-control"})
          </div>
          <button type="submit" class="btn btn-light">Add</button>
        }
      </div>
    </div>
  </div>
</div>


