<div class="modal fade" id="addRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Room</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      @using (Html.BeginForm("Create", "Rooms", FormMethod.Post))
      {
        <div class="modal-body">
          <div class="form-group">
            @Html.TextBox("Name", "", new {required = "required", placeholder="Name", @class="form-control"})
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-secondary">Add</button>
        </div>
      }
    </div>
  </div>
</div>


