<div class="modal fade" id="bookDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Book Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <h2 id="book-title"></h2>
            <h3 id="book-subtitle"></h3>
            <h5>By </span></span><span id="book-authors"></span></h5>
            <div class="row book-info-col">
              <div class="col-8">
                <p><span class="book-info">Publisher:</span><span id="book-publisher"></span></p>
                <p><span class="book-info">Published Date:</span><span id="book-publishedDate"></span></p>
                <p><span class="book-info">ISBN 10:</span><span id="book-isbn10"></span></p>
                <p><span class="book-info">ISBN 13:</span><span id="book-isbn13"></span></p>
                <p><span class="book-info">Category:</span><span id="book-categories"></span></p>
                <p><span class="book-info">Status:</span><span id="book-status"></span></p>
              </div>
              <div class="col-4">
                <p><span class="book-info">Page Count:</span><span id="book-pageCount"></span></p>
                <p><span class="book-info">Language:</span><span id="book-language"></span></p>
              </div>
            </div>
            <div class="row book-info-col">
              <div class="col-3">
              </div>
              <div class="col-9">
              </div>
            </div>
          </div>
          <div class="col-4 detail-img">
            <img id="book-img" alt="Book Thumbnail">
            <div class="rating"></div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div id="book-description"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary remove-from-shelf">Remove from shelf</button>
      </div>
    </div>
  </div>
</div>