@{
  Layout = "_Layout";
}

@model Library.Models.Room

<h4>Add a new room</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {required = "required" })

  <button type="submit" class="btn btn-light">Add room</button>
}