<div class="modal fade" id="bookDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Book Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <h2 id="book-title"></h2>
            <h3 id="book-subtitle"></h3>
            <h5>By <span id="book-authors"></span></h5>
            <div class="row">
              <div class="col">
                <p>Publisher: </p>
                <p>Published Date:</p>
                <p>ISBN 10:</p>
                <p>ISBN 13:</p>
              </div>
              <div class="col">
                <p><span id="book-publisher"></span></p>
                <p><span id="book-publishedDate"></span></p>
                <p><span id="book-isbn10"></span></p>
                <p><span id="book-isbn13"></span></p>
              </div>
              <div class="col">
                <p>Page Count:</p>
                <p>Language:</p>
                <p>Category:</p>
              </div>
              <div class="col">
                <p><span id="book-pageCount"></span></p>
                <p><span id="book-language"></span></p>
                <p><span id="book-categories"></span></p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <img id="book-img" alt="Book Thumbnail">
            <div class="rating"></div>
          </div>
        </div>
        <div class="row" id="book-description">
        </div>
      </div>
    </div>
  </div>
</div>