@{
  Layout = "_Layout";
}

<div class="container index-container">
  <div class="row">
    <div class="col">
      <h1>Add Rooms</h1>
    </div>
    <div class="col">
      <div class="video">
        <video src="../../video/AddRoom.mov" muted autoplay loop></video>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Adjust Your Shelves</h1>
    </div>
    <div class="col">
      <div class="video">
        <video src="../../video/Adjust.mov" muted autoplay loop></video>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Add Books</h1>
    </div>
    <div class="col">
      <div class="video">
        <video src="../../video/addBook.mov" muted autoplay loop></video>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Add Location</h1>
    </div>
    <div class="col">
      <div class="video">
        <video src="../../video/addToShelf.mov" muted autoplay loop></video>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Filter Your Books</h1>
    </div>
    <div class="col">
      <div class="video">
        <video src="../../video/Filter.mov" muted autoplay loop></video>
      </div>
    </div>
  </div>
</div>
<h1>Welcome to your Library!</h1>