<header>
  <div class="header">Library</div>
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Rooms", "Index", "Rooms")</li>
    <li>@Html.ActionLink("Shelves", "Index", "Shelves")</li>
    <li>@Html.ActionLink("Books", "Index", "Books")</li>
  </ul>
</header>