@{
  Layout = "_Layout";
}

<h2>Account</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h3>Hello @(User.FindFirst(System.Security.Claims.ClaimTypes.GivenName)?.Value)!</h3>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <button type="submit" class="btn btn-light">Log out</button>
    }
}
else
{
    <div class="row justify-content-around">
        <div class="col-4">
            @Html.Partial("Login.cshtml", new Library.ViewModels.LoginViewModel())
        </div>
        <div class="col-4">
            @Html.Partial("Register.cshtml", new Library.ViewModels.RegisterViewModel())
        </div>
    </div>
}



