@using Library.ViewModels

@model LoginViewModel

<h4>Log in</h4>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{ <div class="form-floating mb-3">
    @Html.TextBoxFor(m => m.Email, new{required = "required", @class="form-control", @type="text", placeholder="Email"})
    <label>Email</label>
  </div>
  <div class="form-floating mb-3">
    @Html.PasswordFor(m => m.Password, new{required = "required", @class="form-control", @type="password", placeholder="Password", autocomplete="current-password"})
    <label>Password</label>
  </div>
    <button type="submit" class="btn btn-outline-secondary">Log in</button>
}